version: "3"

# Docker volume to have database stored on host machine.
volumes:
  db:
    driver: local

services:
  database:
    # PostgreSQL.
    image: postgres:14-alpine
    hostname: cc-api
    restart: always
    volumes:
      - ../db:/var/lib/postgresql/data
    env_file:
      - .database.env
    networks:
      - cc-api
    command:
      # TODO: Database config should be:
      # "-c" "-config-file=/etc/postgresql/postgresql.conf"
      - "postgres"
      - "-c" # Max connection limit for database.
      - "max_connections=1000" # SHOW max_connections;
      - "-c" # Buffer size for database bufferization.
      - "shared_buffers=128MB" # SHOW shared_buffers;
  database-poller:
    image: edoburu/pgbouncer
    env_file:
      - .database.env
    depends_on:
      - database
    networks:
      - cc-api
  server:
    hostname: cc-api
    restart: always
    env_file:
      - .server.env
    volumes:
      - ./:/srv
    ports:
      - "${COMPOSE_EXPOSED_PORT}:80"
    depends_on:
      - database
      - database-poller
    links:
      - database
    networks:
      - cc-api
    build: .

# Setup docker network for the internal network.
networks:
  cc-api:
