# Framework.
flask==2.2.2
Flask-Cors==3.0.10 

# Server.
gunicorn==20.1.0

# Utils.
hashids==1.3.1
pydantic==1.10.2

# Database,
flask-sqlalchemy==3.0.2
Flask-Migrate==4.0.0
psycopg2-binary==2.9.5

# Testing.
# TODO: Migrate to other req. file.
pytest==7.2.0  # Unit tests.
pytest-cov==4.0.0  # Tests coverage.

# QR.
PyQRCode==1.2.1
pypng==0.20220715.0

# Integration with Florgon Gatey.
gatey-sdk==0.0.7 
